/* Rebecca start */
.about-main {
    box-sizing: border-box;

}

.about-container {
    background-color:  hsl(0, 0%, 12%);
    color: white;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: clamp(1rem, 1.5rem, 2rem) clamp(1.5rem, 2rem, 2.5rem); /* space between about-boxes */

    padding: 1rem;
    
}

/* cards */
.about-box {
    display: grid;
    grid-template-rows: 1fr auto 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name . picture"
    ". . picture"
    "description description description"
    ;
    background-color: #293031;
    /* border: 1px solid #827f4a; */
    border-radius: 12px;
    box-shadow: #1f1f1f;

    /* box placement */
    gap: 1rem;
    padding: inherit;
    padding-top: 1.5rem;

    /* box sizing */
    min-height: 15rem;
}

.about-box:hover {
    scale: 102%;
    transition: 3ms;
}

.about-subtitle {
    width: 100%;
}


.about-name {
grid-area: name;
}

.about-img {
grid-area: picture;
width: 100px;
border-radius: inherit;
border: 2px solid #827f4a;
}

.about-img:hover {
    scale: 150%;
    transition: 3ms;
    
}

.about-description {
grid-area: description;
}

/* Rebecca end */