main {
    background-color: rgb(207, 220, 210);
}
header {
    background-color: black;
}

nav {
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(111, 103, 55);
}

aside {
background-color: rgb(56, 112, 71);
}

footer {
    background-color: slategray;
}