body {
background-color: black;
}

main {
    background-color: black;
    border: none;
    font-family: 'Michroma', 'Josefin Sans', 'Lucida Sans', sans-serif;
}

h2 {letter-spacing: .08rem;}
h2 {letter-spacing: .05rem;}

header {
    background-color: rgb(24, 24, 24);
    border: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Michroma', 'Josefin Sans', 'Lucida Sans', sans-serif;
}

header h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .8rem;
    word-spacing: 1rem;
}

nav {
    background-color: rgb(23, 23, 23);
    border: none;
    border-top: 2px solid rgb(198, 173, 97);
    border-bottom: 2px solid rgb(198, 173, 97);
    color: 2px solid rgb(198, 173, 97);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav li a {
    color: rgb(198, 173, 97);
    /* text-decoration: none; */
}

aside {
background-color: rgb(23, 23, 23);
border: none;
}

footer {
    grid-area: footer;
    border: 5px solid rgb(68, 68, 61);
    background-color: rgb(85, 85, 76);
    bottom: 0;
   }
   
   #footertext{
       font-size: 1rem; 
       padding-left: 10px;
   }


   /* about */
.about-box {
    background-color: #272a2a;
}

.about-container {
    background-color:  hsl(0, 2%, 11%);
    color: white;
    border: none;
}

.about-img {
    border: 2px solid #827f4a;
    }